In [ ]:
#Carrie Gold 
#BMI 6018
#Module 9, Assignment 2: Pandas - 2

In [2]:
import pandas as pd 
import numpy as np

In [51]:
#Question 1 (15 Points)
#Compute the euclidean distance between series (points) p and q, without 
#using a packaged formula.
#Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

running_sum = 0
n = 0
for i in p:
    subtract_total = i - q[n]
    n = n + 1
    square_total = subtract_total * subtract_total
    running_sum = running_sum + square_total
square_root = running_sum ** 0.5
print("The Euclidean distance between the points of this data set:")
print(square_root)

The Euclidean distance between the points of this data set:
18.16590212458495

In [29]:
#Question 2 (15 Points)
#Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
q2 = df[["c","b","a","d","e"]]
q2

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [52]:
#Question 3 (15 Points)
#Change the order of columns of a dataframe.  Create a generic function 
#to interchange two columns, without hardcoding column names.

df_3 = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df_3

def df_reorder(original_df, col_1, col_2):
    df_copy = original_df.copy()
    temp_col = df_copy[col_1].copy()
    df_copy[col_1] = df_copy[col_2]
    df_copy[col_2] = temp_col
    return df_copy
    
df_reorder(df_3, "a", "d")  
#The datapoints of the columns have switched, though the column labels have not.

    a   b   c   d   e
0   3   1   2   0   4
1   8   6   7   5   9
2  13  11  12  10  14
3  18  16  17  15  19

In [62]:
#Question 4 (15 Points)
#Format or suppress scientific notations in a pandas dataframe. Suppress 
#scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.options.display.float_format = '{:.4f}'.format
df

   random
0  0.0079
1  0.0000
2  0.1358
3  0.0000

In [53]:
#Question 5 (15 Points)
#Create a new column that contains the row number of nearest column by 
#euclidean distance. Create a new column such that, each row contains the 
#row number of nearest row-record by euclidean distance.

#DataFrame
df_5 = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), 
columns=list('pqrs'), index=list('abcdefghij'))
df_5

#Calculating Euclidean distance
def eu_distance(row_a, row_b):
    running_sum = 0
    for i in range(len(row_a)):
        subtract_total = row_a[i] - row_b[i]
        square_total = subtract_total * subtract_total
        running_sum = running_sum + square_total
    return running_sum ** 0.5

#Iterating over the DataFrame and adding two columns to show the results: "nearest_row" and "dist"
nearest_rows = []
dist = []
for index, row in df_5.iterrows():
    min_distance = np.inf
    nearest_row = None
    for other_index, other_row in df_5.iterrows():
        if index != other_index:
            distance = eu_distance(row, other_row)
            if distance < min_distance:
                min_distance = distance
                nearest_row = other_index
    dist.append(min_distance)
    nearest_rows.append(nearest_row)

df_5["nearest_row"] = nearest_rows
df_5["dist"] = dist

print(df_5)

    p   q   r   s nearest_row       dist
a  75  49  79  19           i  34.899857
b  92  29  35  35           c  22.068076
c  91  40  16  37           b  22.068076
d  37  22   1  71           g  26.343880
e  18  47  73  82           j  33.496268
f  67  27  38  46           b  27.549955
g  52  23  13  53           d  26.343880
h  66  95  53  16           a  53.684262
i  42  41  83  12           a  34.899857
j   9  72  77  62           e  33.496268

In [52]:
#Question 6 (15 Points)
#Correlation is a statistical technique that shows how two variables are related. 
#Pandas dataframe.corr() method is used for creating the correlation matrix. It is 
#used to find the pairwise correlation of all columns in the dataframe. Any na 
#values are automatically excluded. For any non-numeric data type columns in the 
#dataframe it is ignored.

input_data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }

df_in_data = pd.DataFrame(input_data)

corr_matrix = df_in_data.corr()
print("The correlation matrix:")
print(corr_matrix)

The correlation matrix:
          A         B         C         D         E
A  1.000000  0.756038  0.624390  0.493811  0.928600
B  0.756038  1.000000  0.966733  0.363559  0.649558
C  0.624390  0.966733  1.000000  0.218860  0.528068
D  0.493811  0.363559  0.218860  1.000000  0.720177
E  0.928600  0.649558  0.528068  0.720177  1.000000